body{
    background: linear-gradient(0deg, black, rgb(163, 53, 53));
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}


.container{
    margin: auto;
    max-width: 1200px;
}

.done{
    text-decoration: line-through;
    text-decoration-color: black;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    font-size: 2.5em;
}

.addButton{
    width: 60px;
    height: 60px;
    font-size: 2.5em;
    border: none;
    background-color: darkgreen;
    border-radius: 50%;
    color: white;
}